*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Local UIAutomator/ADB inspection artifacts
/*.xml
/*.png

# Android Studio local project metadata
/.idea/.name
    /app/src/staging/google-services.json
/.kotlin/errors/errors-1789875277284.log
